services:
  app:
    build: ./app
    container_name: python_app
    restart: always
    ports:
      - "8000:8000"
    networks:
      - app_network

  nginx:
    image: owasp/modsecurity-crs:nginx
    container_name: nginx_waf
    restart: always
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./waf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./waf/modsecurity.conf:/etc/modsecurity/modsecurity.conf
      - ./waf/crs:/etc/modsecurity/crs
    networks:
      - app_network

networks:
  app_network:
